<div class="row">
  <div class="col">
    <input class="form-control" placeholder="Cerca progetto" (input)='search()' #filterName />
  </div>

  <div class="col">
    <select class="form-select" (input)='search()' #filterPriority>
      <option></option>
      <option value="low">Low</option>
      <option value="medium">Medium</option>
      <option value="high">High</option>
    </select>
  </div>

  <div class="col">
    <select class="form-select" (input)='search()' #filterDone>
      <option></option>
      <option value="true">Done</option>
      <option value="false">In progress</option>
    </select>
  </div>
</div>