<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">NG Project Tracking Tool</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item" *isAuthenticated="true">
          <a class="nav-link" routerLink="/projects" routerLinkActive="active">Progetti</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" *hasRole="'admin'" routerLink="/admin" routerLinkActive="active">Amministrazione</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *isAuthenticated="false" routerLink="/auth" routerLinkActive="active">Accedi</a>
          <a class="nav-link" *isAuthenticated="true" isLogout>Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
